body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #009688;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

#form-section {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input, select {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

footer {
    text-align: center;
    padding: 0,5px;
    background-color: #009688;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}





/* Bagian Daftar Anggota */
#daftar-peserta {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#peserta-list {
    list-style-type: none;
    padding-left: 0;
}

#peserta-list li {
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

#peserta-list li strong {
    color: #009688;
}

div {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #009688;
    padding: 20px;
    margin: 5px;
    text-align: center;
}
div li a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 5px 14px;
    text-decoration: none;
}

/* Bagian Daftar Anggota */
#daftar-peserta {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#peserta-list {
    list-style-type: none;
    padding-left: 0;
}

#peserta-list li {
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

#peserta-list li strong {
    color: #009688;
}

/* Gaya untuk pesan */
#peserta-list li p {
    font-style: italic;
    color: #555;
}




/* Gaya untuk tombol hapus */
button {
    padding: 8px 12px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #e53935;
}